/*
*   Blue: #34bfd0
*/

body {
    background: #34bfd0;
    padding: 150px 0 0 0;
}

.content {
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

.content h3 {
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
}
