body {
    background: $color-offwhite;
    font-family: $font;
    color: #333;
}

h1 {
    margin: 0 0 0 0; padding: 0;
    font-weight: 100;
    color: $color-primary;
}

p {
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: justify;
    text-justify: inter-word;
}

.spacer {
    height: 1px;
    background: #333;
    width: 170px;
    margin: 20px auto;
}

.ctas {
    text-align: center;
}
.btn-cta {
    display: inline-block;
    text-align: center;
    padding: 15px 25px;
    border: 1px solid $color-primary;
    color: $color-primary;
    margin: 5px;
    text-transform: uppercase;
    transition: background 150ms, color 150ms;

    i { margin-right: 20px; }

    &:hover {
        background: $color-primary;
        color: #fff;
        text-decoration: none;
    }

    &.btn-cta-sm {
        padding: 8px 10px;
        color: #fff;
        border: none;
    }

    small {
        //display: block;
        text-align: left;
        font-size: 0.6em;
    }

    &:link, &:visited {
        text-decoration: none;
    }
}

.social-links {

    a {
        color: #333;
        font-size: 2.5em;
        margin: 5px;

        &.facebook {
            color: #3b5998;
        }

        &.twitter {
            color: #00aced;
        }

        &.linked-in {
            color: #007bb5;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

#mc_embed_signup {
    //background:#fff;
    clear:left;
    font-family: $font;
    font-weight: 100;

    input {
        border: 1px solid darken($color-primary, 10%);
    }
    .button {
        background: darken($color-primary, 10%);
        &:hover { background: darken($color-primary, 15%); }
    }
}
